:root {
    --var-color-yankeesblue : #212d40;
    --var-color-charcoal : #364156;
    --var-color-lapislazuli : #2978a0;
    --var-color-deepgreencyan : #136f63;
    --var-color-giantorgane : #f2621a;
    --var-color-giantorganedarker : #d9510d;
    --var-color-background : #f8f9fb;
    --var-color-backgroundsteel : #cacdcf;
    --var-width-sidebar: 160px;

    --var-color-main-dark-blue: #003a5a;
    --var-color-giantorganedarker: #d9510d;
    --var-color-light-grey: #dfe1e2;
    --var-color-misp-blue: #2ca1db;
    --var-color-misp-gray: #616263;
}

body {
    background-color: var(--var-color-background);
}

.main {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.main-login {
    background: var(--var-color-yankeesblue);
}

.application-navbar {
    /* background-color: var(--var-color-lapislazuli) !important; */
    /* background-color: var(--var-color-yankeesblue) !important; */
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    flex-shrink: 0;
    z-index: 100; /* Stay on top */
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden; /* Disable horizontal scroll */
    -webkit-transition: width .2s;
    transition: width .2s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.app-login::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('@/assets/icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    filter: grayscale(70%) opacity(0.07);
}

.app-login {
    background: radial-gradient(circle at 25% 0%, hsl(216.8, 50.48%, 30.39%) 15%, hsl(216.8, 30.48%, 25.39%) 35% ,hsl(216.8, 31.18%, 13.25%) 70%);
}

.app-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(82, 63, 105, 0.4);

}

.app-body {
    width: 100%;
    margin-top: 1.0em;
    margin-left: 15em;
    -webkit-transition: margin-left .2s;
    transition: margin-left .2s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.main-body {
    margin-left: 50px;
    -webkit-transition: margin-left .2s;
    transition: margin-left .2s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.main-body .layout-stretch {
    height: calc(100vh - 54px);
    margin-top: 54px;
    overflow: hidden;
}

.app-body.strech {
    height:100vh;
    width: calc(100% - 3.5em);
    margin-left: 3.5em;
    margin-top: 0;
    overflow: hidden;
}

.app-body.strech > div {
    height: 100%;
}

.body-sidebar-collapse {
    margin-left: 5em;
}

.overflow-visible {
    overflow: visible;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0.05rem 0.1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.useCursorPointer {
    cursor: pointer;
    user-select: none;
}

@media (min-width: 1200px) {
    .modal-xl,
    .modal-xxl {
        max-width: 1140px;
    }
}
  
@media (min-width: 1700px) {
    .modal-xxl {
        max-width: 85vw;
    }
}

@media (min-width: 1500px) {
    .d-xxl-table-cell {
        display: table-cell !important;
    }
}

button:disabled,
ul.dropdown-menu li.disabled {
    cursor: not-allowed;
}

.popover-no-body > .popover-body {
    padding: 0.3rem 0
}

.popover.mw-25 {
    max-width: 25%;
}
.popover.mw-50 {
    max-width: 50%;
}
.popover.mw-75 {
    max-width: 75%;
}

.badge {
    vertical-align: middle !important;
}

table.b-table > thead > tr > th {
    user-select: none;
}

table.table-auto-hide-action > tbody > tr > td .hide-on-hover {
    display: inline-block;
}
table.table-auto-hide-action > tbody > tr:hover > td .hide-on-hover {
    display: none !important;
}
table.table-auto-hide-action > tbody > tr > td .reveal-on-hover {
    display: none;
}
table.table-auto-hide-action > tbody > tr:hover > td .reveal-on-hover {
    display: inline-block !important;
}
table.table-auto-hide-action > tbody > tr:hover {
    box-shadow: inset 1px 0 0 #d4d4d4,inset -1px 0 0 #d4d4d4,0 1px 2px 0 #3c3c3c55,0 1px 3px 1px #3c3c3c22;
    position: relative;
}

table.table-auto-hide-action > tbody > tr:hover .custom-control-label:before {
    border-color: #4f4f4f;
}

.table.b-table.b-table-selectable:not(.b-table-selectable-no-click) > tbody > tr.b-table-details {
    cursor: auto;
}

table .no-outline {
    outline: none;
}

tr.no-bgcolor {
    background-color: unset !important;
}

table.table-no-select tbody, table.table-no-select thead > tr {
    cursor: auto;
}

.table-search-box {
    min-width: 200px !important;
    transition: min-width 0.3s;
}

.table-search-box:focus {
    min-width: 300px !important;
}

.table-sm.condensed th,
.table-sm.condensed td {
    padding: 0.15rem;
}